# Dependencies
node_modules/
.pnpm-store/

# Production builds
dist/
build/
.output/
.vite/

# Environment variables
.env
.env.local
.env.development
.env.production

# Logs
*.log
.DS_Store
.idea/
.vscode/
